{% extends "base.html" %}
{% block title %}Вход — Time Jobs{% endblock %}

{% block content %}
<section class="tj-auth">
    <div class="tj-auth__card">
        <div class="tj-auth__avatar">tj</div>

        <h1 class="tj-auth__title">Вход</h1>
        <p class="tj-auth__subtitle">
            Войдите в аккаунт, чтобы откликаться на смены или управлять вакансиями.
        </p>

        <form method="post" class="tj-auth__form">
            <input name="email"
                   type="email"
                   placeholder="Почта"
                   class="tj-auth__input">

            <input name="password"
                   type="password"
                   placeholder="Пароль"
                   class="tj-auth__input">

            <button type="submit" class="tj-auth__submit">
                Войти
            </button>
        </form>

        <p class="tj-auth__footer">
            Нет аккаунта?
            <a href="{{ url_for('register') }}">Зарегистрироваться</a>
        </p>
    </div>
</section>
{% endblock %}